extends ../../layouts/default.pug 

block main 

    if (records.id) 
        h1(class="mb-4") #{records.id}
    
    if (records.title) 
        h1(class="mb-4") #{records.title}

    if (records.discountPercentage)
        div(class="mb-4") Giảm giá: <b>#{records.discountPercentage}%</b>

    if (records.thumbnail)
        div(class="mb-4")
            img(
                src=records.thumbnail
                style="width: 100px"
            )

    if (records.status)
        div(class="mb-4")
            span Trạng thái: 
            if (records.status === "active")
                span(class="badge badge-success") Hoạt động 
            else 
                span(class="badge badge-danger") Dừng hoạt động 

    if (records.position)
        div(class="mb-4") Vị trí: <b>#{records.position}</b>
    
    if (records.description)
        div(class="mb-4") #{records.description}

    //- a(
    //-     href=`${prefixAdmin}/products-category/detail/${records.id}`
    //-     class="btn btn-warning"
    //- ) Chỉnh sửa 
